@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom styles for masonry grid */
.masonry-grid {
  display: flex;
  width: auto;
  margin-left: -16px;
}

.masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

@media (max-width: 640px) {
  .masonry-grid_column {
    width: 100% !important;
  }
} 